<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.autostartpermission">

    <application>
        <activity android:name=".PermissionActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.Translucent"></activity>
    </application>

</manifest>